<h1>New Message</h1>
<%= form_with(model: [@message.room, @message]) do |form|%>
    <div>
        <%= form.label :content %><br>
        <%= form.text_field :content %>
        <%= form.submit  "send"%>
    </div>
<%end%>

<%= link_to "back", @message.room%>
        