<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div class="bg-red-100 text-red-700 p-4 mb-6 rounded-lg">
      <h2 class="text-lg font-semibold mb-2"><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul class="list-disc list-inside">
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :name, class: "text-lg font-semibold mb-2 block" %>
    <%= form.text_field :name, class: "w-full border rounded-lg py-2 px-3 text-gray-800" %>
  </div>

  <div>
    <%= form.submit class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg" %>
  </div>
<% end %>
