<p class="text-green-500"><%= notice %></p>

<%= turbo_frame_tag "room" do%>
  <%= render @room %>

  <div class="mb-4">
    <%= link_to "Edit this room", edit_room_path(@room), class: "inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md mr-2 mb-2" %>
    <%= link_to "Back to rooms", rooms_path, "data-turbo-frame":"_top", class: "inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md mr-2 mb-2" %>
    <%# <%= button_to "Destroy this room", @room, method: :delete, class: "inline-block bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-md mb-2" %>
  </div>
<%end%>
<div>
  <%= render @room.messages %>
</div>

<%= link_to "New Message", new_room_message_path(@room), class: "text-green-500 hover:text-green-600 underline mt-4" %>
